<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Booked Tickets</title>
    <link rel="stylesheet" href="/css/customer.css" />
  </head>
  <body>
    <h1>My Booked Tickets</h1>
    <ul>
      <% bookedTickets.forEach(ticket => { %>
      <li>
        Train: <%= ticket.trainId %> | Seat: <%= ticket.seatNumber %> | Date:
        <%= ticket.travelDate %>
      </li>
      <% }); %>
    </ul>
    <script src="../js/customer.js"></script>
  </body>
</html>
