<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cancel Ticket</title>
    <link rel="stylesheet" href="/css/customer.css">
</head>
<body>
    <h1>Cancel a Ticket</h1>
    <form id="cancellation-form" action="/customer/cancellation" method="post>
        <label for="ticketNumber">Ticket Number:</label>
        <input type="text" id="ticketNumber" name="ticketNumber" required>

        <button type="submit">Cancel Ticket</button>
    </form>
    <script src="../js/customer.js"></script>
</body>
</html>
